{% if breadcrumbs %}
<nav class="breadcrumbs-wrap" aria-label="Навигационная цепочка">
    <div class="container breadcrumbs">
        {% for title, route in breadcrumbs %}
            <div class="breadcrumbs-item">
                {% if route and not forloop.last %}
                    <a href="{% url route %}">{{ title }}</a>
                    <span class="breadcrumbs-sep">›</span>
                {% else %}
                    <span>{{ title }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</nav>
{% endif %}
